@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --red-color: #ff0000;
  --deep-red-color: #cc0000;
  --blue-color: #045fd4;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --deep-gray: #252525;
  --dark-gray: #121212;
  --light-gray: #363636;

  /* Size */
  --search-width: 100px;
  --padding: 12px;
  --padding2: 6px;
  --avatar-size: 36px;
  --avatar-size2: 30px;

  /* Font size */
  --font-large2: 22px;
  --font-large: 18px;
  --font-medium: 16px;
  --font-medium2: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

button,
button:focus {
  border: none;
  background-color: var(--white-color);
  cursor: pointer;
  outline: none;
}

/* header */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  padding-left: calc(var(--padding) * 2);
  padding-right: calc(var(--padding) * 2);
  background-color: var(--deep-gray);
  color: var(--white-color);
}

/* header logo */
header .logo {
  font-size: var(--font-large);
}

header .logo i.fa-bars {
  margin-right: var(--padding);
  cursor: pointer;
}

header .logo i.fa-youtube {
  color: var(--red-color);
  font-size: var(--font-large2);
  cursor: pointer;
}

header .logo .title {
  cursor: pointer;
}

/* header searchBox */
header .searchBox {
  display: none;
  justify-content: center;
  align-items: center;
}

header .searchBox .input {
  width: calc(var(--search-width) * 5);
  padding: var(--padding2);
  padding-right: var(--padding);
  background-color: var(--dark-gray);
  border: none;
  outline: none;
  margin-left: var(--padding2);
}

header .searchBox button {
  width: 60px;
  padding-right: 18px;
  padding-top: calc(var(--padding) / 2);
  padding-bottom: calc(var(--padding) / 2);
  background-color: var(--light-gray);
  color: var(--grey-light-color);
}

header .searchBox i {
  margin-left: calc(var(--padding) * 1.5);
}

/* header icons */
header .icons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .icons i {
  margin-right: calc(var(--padding) * 2);
  font-size: var(--font-medium);
  cursor: pointer;
}

header .icons img {
  width: var(--avatar-size2);
  height: var(--avatar-size2);
  border-radius: 50%;
  cursor: pointer;
}

/* Video Player */
.player {
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* information */
.infoAndUpNext > .info {
  padding: calc(var(--padding) * 2);
}

.infoAndUpNext .info .video__metadata .hashtags {
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.infoAndUpNext .info .video__metadata .hashtags li {
  margin-right: var(--padding);
}

.infoAndUpNext .info .video__metadata .titleAndBtn {
  display: flex;
}

.infoAndUpNext .info .video__metadata .titleAndBtn .title {
  font-size: var(--font-medium2);
  margin-right: var(--padding);
}

.infoAndUpNext .info .video__metadata .titleAndBtn .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.infoAndUpNext .info .video__metadata .titleAndBtn .moreBtn {
  height: 100%;
  transition: transform 200ms ease-in-out;
}

.infoAndUpNext .info .video__metadata .titleAndBtn .moreBtn.clicked {
  transform: rotate(180deg);
}

.infoAndUpNext .info .video__metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* information - video__actions */
.infoAndUpNext .info .video__actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.infoAndUpNext .info .video__actions li button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

.infoAndUpNext .info .video__actions li button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: var(--font-medium);
}

.infoAndUpNext .info .video__actions li button:hover i {
  color: var(--blue-color);
}

/* information - video__channel */

.infoAndUpNext .info .video__channel {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.infoAndUpNext .info .video__channel .metadata {
  display: flex;
  align-items: center;
}

.infoAndUpNext .info .video__channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: var(--padding);
}

.infoAndUpNext .info .video__channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.infoAndUpNext .info .video__channel .metadata .info .name {
  font-size: var(--font-medium2);
}

.infoAndUpNext .info .video__channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.infoAndUpNext .info .video__channel .subscribe {
  padding: var(--padding);
  font-size: var(--font-medium2);
  text-transform: uppercase;
  color: var(--white-color);
  border: 1px solid var(--red-color);
  border-radius: 3px;
  background-color: var(--deep-red-color);
}

/* upNext */
.infoAndUpNext .upNext {
  padding: var(--padding);
}

.infoAndUpNext .upNext > .title {
  font-size: var(--font-medium2);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}

.infoAndUpNext .upNext .item {
  display: flex;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.infoAndUpNext .upNext .item .img {
  flex: 1 1 40%;
  margin-right: var(--padding);
}

.infoAndUpNext .upNext .item .img img {
  width: 100%;
}

.infoAndUpNext .upNext .item .info {
  flex: 1 1 60%;
}

.infoAndUpNext .upNext .item .info {
  display: flex;
  flex-direction: column;
}

.infoAndUpNext .upNext .item .moreBtn {
  flex: 1 1 5%;
}

.infoAndUpNext .upNext .item .info .title {
  font-size: var(--font-medium2);
  margin-bottom: var(--padding);
}

.infoAndUpNext .upNext .item .info .name,
.infoAndUpNext .upNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* header logo */
  header .logo {
    justify-content: space-between;
    align-items: center;
    flex: 1 1 30%;
  }

  header .logo i.fa-bars {
    margin-right: calc(var(--padding) * 2);
  }

  header .logo i.fa-youtube {
    transform: translateY(0px);
    margin-right: calc(var(--padding) / 4);
  }

  /* header searchBox */
  header .searchBox {
    display: flex;
  }

  header .searchBox .input {
    display: block;
    flex: 1 1 40%;
    color: var(--white-color);
  }

  /* header icons */
  header .icons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 30%;
  }

  header .icons .fa-microphone {
    display: none;
  }

  header .icons i {
    margin-right: calc(var(--padding) * 2);
    font-size: var(--font-medium);
    cursor: pointer;
  }

  /* infoAndUpNext */
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding) 0;
    margin-left: calc(var(--padding) * 6);
    margin-right: calc(var(--padding) * 6);
  }

  .infoAndUpNext .upNext {
    width: 40%;
  }

  .infoAndUpNext .upNext .item .info .title {
    font-size: var(--font-medium);
  }
}
