@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --red-color: #ff0000;
  --deep-red-color: #cc0000;
  --blue-color: #045fd4;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font size */
  --font-large: 18px;
  --font-medium: 16px;
  --font-medium2: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

button,
button:focus {
  border: none;
  background-color: var(--white-color);
  cursor: pointer;
  outline: none;
}

/* header */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  padding-left: calc(var(--padding) * 2);
  padding-right: calc(var(--padding) * 2);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video Player */
.player {
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* information */
.infoAndUpNext > .info {
  padding: var(--padding);
}

.infoAndUpNext .info .video__metadata .hashtags {
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.infoAndUpNext .info .video__metadata .hashtags li {
  margin-right: var(--padding);
}

.infoAndUpNext .info .video__metadata .titleAndBtn {
  display: flex;
}

.infoAndUpNext .info .video__metadata .titleAndBtn .title {
  font-size: var(--font-medium2);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.infoAndUpNext .info .video__metadata .titleAndBtn .moreBtn {
  height: 100%;
}

.infoAndUpNext .info .video__metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* information - video__actions */
.infoAndUpNext .info .video__actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.infoAndUpNext .info .video__actions li button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

.infoAndUpNext .info .video__actions li button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: var(--font-medium);
}

.infoAndUpNext .info .video__actions li button:hover i {
  color: var(--blue-color);
}

/* information - video__channel */

.infoAndUpNext .info .video__channel {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.infoAndUpNext .info .video__channel .metadata {
  display: flex;
  align-items: center;
}

.infoAndUpNext .info .video__channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: var(--padding);
}

.infoAndUpNext .info .video__channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.infoAndUpNext .info .video__channel .metadata .info .name {
  font-size: var(--font-medium2);
}

.infoAndUpNext .info .video__channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.infoAndUpNext .info .video__channel .subscribe {
  padding: var(--padding);
  font-size: var(--font-medium2);
  text-transform: uppercase;
  color: var(--white-color);
  border: 1px solid var(--red-color);
  border-radius: 3px;
  background-color: var(--deep-red-color);
}

/* upNext */
.infoAndUpNext .upNext {
  padding: var(--padding);
}

.infoAndUpNext .upNext > .title {
  font-size: var(--font-medium2);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}

.infoAndUpNext .upNext .item {
  display: flex;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.infoAndUpNext .upNext .item .img {
  flex: 1 1 40%;
  margin-right: var(--padding);
}

.infoAndUpNext .upNext .item .img img {
  width: 100%;
}

.infoAndUpNext .upNext .item .info {
  flex: 1 1 60%;
}

.infoAndUpNext .upNext .item .info {
  display: flex;
  flex-direction: column;
}

.infoAndUpNext .upNext .item .moreBtn {
  flex: 1 1 5%;
}

.infoAndUpNext .upNext .item .info .title {
  font-size: var(--font-medium2);
  margin-bottom: var(--padding);
}

.infoAndUpNext .upNext .item .info .name,
.infoAndUpNext .upNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }

  .infoAndUpNext .upNext {
    width: 40%;
  }

  .infoAndUpNext .upNext .item .info .title {
    font-size: var(--font-medium);
  }
}
